/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #333333; 
    
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}